*{
box-sizing: border-box;
margin: 0;
padding: 0;
}

:root{
    --white:#ffffff;
    --red:#ec0e0e;
    --orange: #ee9910;
    --blue-dark:#e0e319;
    --green:#af2408;
}

body{
    background: linear-gradient(to bottom,var(--red), var(--orange));
    height: 100vh;
    font-family: "prompt", sans-serif;
}
.container{
    max-width: 80%;
    width: 400px;
    height: 600px;
    margin:0 auto;
}

/* PERFIL */
.perfil h1{
color:var(--white);
}

.perfil span{
    color:var(--white);
    letter-spacing: 1px;
}

#fecha{
    color:var(--white);
    padding: 50px 5px;
}

/*Agregar tarea*/
.agregar-tarea{
background-color: var(--white);
border-radius: 15px;
height: 70px;
display: flex;
align-items: center;
padding: 10px;
gap: 70px;
margin: 40px 0;
}

.agregar-tarea input{
width: 100%;
height: 100%;
border-radius: 8px;
border: none;
background-color: var(--white);
}

.agregar-tarea i{
font-size: 50px;
color: var(--red);
}
.agregar-tarea i:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.agregar-tarea input::placeholder{
font-size: 1.1rem;
color: var(--red)
}

/*Seccion Tarea*/
.seccion-tarea h3{
color: var(--white);
margin-bottom: 20px;
}

.seccion-tarea li{
display: flex;
background: linear-gradient(to bottom,var(--blue-dark), var(--green));
border-radius: 15px;
padding: 10px;
align-items: center;
justify-content: space-between;
margin: 5px 0;
color: var(--white);
}

.seccion-tarea i:hover{
    color: var(--red);
    cursor: pointer;
}

.seccion-tarea i{
font-size: 25px;
}

.seccion-tarea > ul p{
font-size: 1.2rem;
}
.line-through{
    text-decoration: line-through;
    color: var(--green);
}